<!DOCTYPE html>
<html lang="en">
<head>
    <title>DnD | {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</head>
<body>
<div class="container-fluid">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">DnD</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Characters
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for character in characters %}
                        {% if 'hp' in character and character['hp'] > -10 %}
                        <li><a href="/{{ character['_id'] }}/{{ character.name }}/">{{ character.name }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/auth/change-email/">change e-mail</a></li>
                        <li><a href="/auth/change-password/">change password</a></li>
                        <li><a href="/auth/logout/">logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<div class="page-header">
    <h1>{{ self.title() }}</h1>
</div>
{% block content %}{% endblock %}
</div>
</body>
</html>

