{% for skill in character['skills'] %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#skill-accordion" href="#{{ skill|replace(' ', '-')|replace('(', '-')|replace(')', '-') }}-collapse">{{ skill|capitalize }}</a>
    </h4>
  </div>
  <div id="{{ skill|replace(' ', '-')|replace('(', '-')|replace(')', '-') }}-collapse" class="panel-collapse collapse">
    <div class="panel-body">
      <table class="table">
        {% if character['skills'][skill]['skill_check'] is not none %}
        <tr>
          <td>Skill check:</td>
          <td>
            <a href="#" data-toggle="tooltip" title="{{ character['skills'][skill]['skill_check_text'] }}">
              {{ character['skills'][skill]['skill_check_value'] }}
            </a>
          </td>
        </tr>
        {% endif %}
        {% if character['skills'][skill]['power_check'] is not none %}
        <tr>
          <td>Power check:</td>
          <td>
            <a href="#" data-toggle="tooltip" title="{{ character['skills'][skill]['power_check_text'] }}">
              {{ character['skills'][skill]['power_check_value'] }}
            </a>
          </td>
        </tr>
        {% endif %}
      </table>
      {{ character['skills'][skill]['description'] }}
    </div>
  </div>
</div>
{% endfor %}
