<div id="inventory-errors"></div>
{% for item in character['inventory']|sort %}
<div class="panel panel-default">
  <div class="panel-heading">
    <table style="width:100%">
      <tr>
        <td>
          <table><tr>
            <td>
              <span class="label label-default">
                {{ character['inventory'][item]['amount'] }}
              </span>
            </td>
            <td><form data-async data-target="#inventory-errors" action="/api/{{ character['_id'] }}/inventory/increment/" method="POST" class="form-inline">
              <input type="hidden" name="name" value="{{ item }}">
              <input type="hidden" name="type" value="action">
              <button class="btn btn-success btn-xs" type="submit"><span class="glyphicon glyphicon-plus"></span></button>
            </form></td>
            <td><form data-async data-target="#inventory-errors" action="/api/{{ character['_id'] }}/inventory/decrement/" method="POST" class="form-inline">
              <input type="hidden" name="name" value="{{ item }}">
              <input type="hidden" name="type" value="action">
              <button class="btn btn-success btn-xs" type="submit"><span class="glyphicon glyphicon-minus"></span></button>
            </form></td>
          </tr></table>
        </td>
        <td>
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#inventory-accordion" class="btn btn-link btn-block" href="#{{ item|replace(' ', '-')|replace('(', '-')|replace(')', '-') }}-collapse">
              {{ item }}
              <span class="badge">
                {{ character['inventory'][item]['extra'] }}
              </span>
            </a>
          </h4>
        </td>
        <td style="text-align:right">
          <table><tr>
            <td>
              <button data-toggle="collapse" data-parent="#inventory-accordion" class="btn btn-default btn-xs" data-target="#edit-{{ item|replace(' ', '-')|replace('(', '-')|replace(')', '-') }}-collapse"><span class="glyphicon glyphicon-pencil"></span></button>
            </td>
            <td><form data-async data-target="#inventory-errors" action="/api/{{ character['_id'] }}/inventory/remove/" method="POST" class="form-inline">
              <input type="hidden" name="name" value="{{ item }}">
              <input type="hidden" name="type" value="action">
              <button class="btn btn-success btn-xs" type="submit"><span class="glyphicon glyphicon-remove"></span></button>
            </form></td>
          </tr></table>
        </td>
      </tr>
    </table>
  </div>
  <div id="{{ item|replace(' ', '-')|replace('(', '-')|replace(')', '-') }}-collapse" class="panel-collapse collapse">
    <div class="panel-body">
      </table>
      {{ character['inventory'][item]['description'] }}
    </div>
  </div>
</div>
<div id="edit-{{ item|replace(' ', '-')|replace('(', '-')|replace(')', '-') }}-collapse" class="well collapse">
  <form data-async data-target="#inventory-errors" action="/api/{{ character['_id'] }}/inventory/edit/" method="POST" class="form-inline">
    <input type="hidden" name="name" value="{{ item }}">
    <div id="add-inventory-errors"></div>
    <div class="form-group">
      <label for="inv-amount">Amount:</label>
      <input type="number" class="form-control" id="inv-amount" name="amount" value="{{ character['inventory'][item]['amount'] }}" min="0">
    </div>
    <div class="form-group">
      <label for="inv-name">Name:</label>
      <input type="text" class="form-control" id="inv-name" name="new-name" value="{{ item }}" >
    </div>
    <div class="form-group">
      <label for="inv-extra">Extra:</label>
      <input type="text" class="form-control" id="inv-extra" name="extra" value="{{ character['inventory'][item]['extra'] }}" >
    </div>
    <div class="form-group">
      <label for="inv-description">Description:</label>
      <textarea class="form-control" rows="5" id="inv-description" name="description">{{ character['inventory'][item]['description_unsafe'] }}</textarea>
    </div>
    <button class="btn btn-default" type="submit">Submit</button>
  </form>
</div>
{% endfor %}

