{% extends 'base.html' %}
{% block title %}{{ character.name }}{% endblock %}
{% block page_header %}
<span id="name-value">{{ character.name }}</span><span id="alive">{% if character['hp'] < -9 %}<span class="badge">R.I.P</span>{% endif %}</span>
{% if editing_privileges %}
<a href="#" class="btn btn-default" role="button" data-toggle="collapse" data-parent="#form-group" data-target="#name-form">Edit</a>
{% endif %}
{% endblock %}
{% block content %}
{% if editing_privileges %}
<div id="name-form" class="collapse">
  <form data-async data-target="#name-errors" action="/api/{{ character['_id'] }}/name/" method="POST" class="form-horizontal">
    <div id="name-errors"></div>
    <div class="input-group">
      <input type="text" class="form-control" id="name" name="name" value="{{ character['name'] }}">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>
<br>
{% endif %}

{% for message in successes %}
<div class="alert alert-success alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ message }}
</div>
{% endfor %}

{% for message in errors %}
<div class="alert alert-danger alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ message }}
</div>
{% endfor %}

<div id="form-group" class="container">
  <div class="row">
    <div class="col-sm-4">

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" class="btn btn-link btn-block" role="button" href="#action-panel">Actions</a>
      </h4>
    </div>
    <div id="action-panel" class="panel-collapse collapse">
      <div class="panel-body">
        {% include 'character_action.html' %}
      </div>
      <div class="panel-footer">
      </div>
    </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" class="btn btn-link btn-block" role="button" href="#general-panel">General</a>
      </h4>
    </div>
    <div id="general-panel" class="panel-collapse collapse">
      <div class="panel-body">
        {% include 'character_general.html' %}
        <h4>Abilities</h4>
        {% include 'character_abilities.html' %}
      </div>
      <div class="panel-footer">
        Unspent ability points:
        <span class="label {% if character['unspent_ability_points'] < 0 %}label-danger{% else %}label-default{% endif %}" id="ability-points">{{ character['unspent_ability_points'] }}</span>
      </div>
    </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" class="btn btn-link btn-block" role="button" href="#combat-panel">Combat</a>
      </h4>
    </div>
    <div id="combat-panel" class="panel-collapse collapse">
      <div class="panel-body">
        {% include 'character_combat.html' %}
      </div>
      <div class="panel-footer">
      </div>
    </div>
  </div>
</div>

    </div>
    <div class="col-sm-4"> 
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" class="btn btn-link btn-block" role="button" href="#skills-panel">Skills</a>
      </h4>
    </div>
    <div id="skills-panel" class="panel-collapse collapse">
      <div class="panel-body">
        {% include 'character_skills.html' %}
      </div>
      <div class="panel-footer">Unspent skill slots: <span class="label {% if character['unspent_skill_slots'] < 0 %}label-danger{% else %}label-default{% endif %}" id="skill-slots">{{ character['unspent_skill_slots'] }}</span></div>
    </div>
  </div>
</div>

<div id="prayer-section" class="panel-group collapse {% if character['priest'] > 0 %}in{% endif %}">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" class="btn btn-link btn-block" role="button" href="#prayer-panel">Prayer</a>
      </h4>
    </div>
    <div id="prayer-panel" class="panel-collapse collapse">
      <div class="panel-body">
        {% include 'character_prayers.html' %}
      </div>
      <div class="panel-footer"></div>
    </div>
  </div>
</div>

<div id="spells-section" class="panel-group collapse {% if character['wizard'] > 0 %}in{% endif %}">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" class="btn btn-link btn-block" role="button" href="#spells-panel">Spells</a>
      </h4>
    </div>
    <div id="spells-panel" class="panel-collapse collapse">
      <div class="panel-body">
        {% include 'character_spells.html' %}
      </div>
      <div class="panel-footer">
      </div>
    </div>
  </div>
</div>

<div id="powers-section" class="panel-group collapse {% if character['warlock'] > 0 %}in{% endif %}">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" class="btn btn-link btn-block" role="button" href="#powers-panel">Powers</a>
      </h4>
    </div>
    <div id="powers-panel" class="panel-collapse collapse">
      <div class="panel-body">
        {% include 'character_powers.html' %}
      </div>
      <div class="panel-footer"></div>
    </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" class="btn btn-link btn-block" role="button" href="#equipment-panel">Equipment</a>
      </h4>
    </div>
    <div id="equipment-panel" class="panel-collapse collapse">
      <div class="panel-body">Panel Body</div>
      <div class="panel-footer">Panel Footer</div>
    </div>
  </div>
</div>
    </div>
    <div class="col-sm-4">
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" class="btn btn-link btn-block" role="button" href="#inventory-panel">Inventory</a>
      </h4>
    </div>
    <div id="inventory-panel" class="panel-collapse collapse">
      <div class="panel-body">Panel Body</div>
      <div class="panel-footer" id="coins">
        {% include "character_coins.html" %}
      </div>
    </div>
  </div>
</div>
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" class="btn btn-link btn-block" role="button" href="#background-panel">Background</a>
      </h4>
    </div>
    <div id="background-panel" class="panel-collapse collapse">
      <div class="panel-body">
        {% include 'character_background.html' %}
      </div>
      <div class="panel-footer">Panel Footer</div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
{% endblock %}
