<table class="table">
  <tbody>
    <tr>
      <td>Race:</td>
      <td>
        <div class="btn-group">
        {% if editing_privileges %}
        <a href="#" class="btn btn-default" role="button" data-toggle="collapse" data-parent="#form-group" data-target="#race-form" id="race-value">
        {% endif %}
          {{ character['race']['name'] }}
        {% if editing_privileges %}
        </a>
        {% endif %}
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#race-info">?</button>
        </div>
      </td>
    </tr>
    <tr id="race-info" class="collapse">
      <td colspan="3">
        <div id="inner-race-info" class="well">
          {{ character['race']['description'] }}
        </div>
      </td>
    </tr>
    {% if editing_privileges %}
    <tr id="race-form" class="collapse">
      <td colspan="3">
        <form data-async data-target="#race-errors" action="/api/{{ character['_id'] }}/race/" method="POST" class="form-horizontal">
          <div id="race-errors"></div>
          <div class="form-group">
            {% for race in races %}
            <div class="radio">
                <label>
                  <input type="radio" name="race" value="{{ race }}" {% if character['race']['name'] == race %}checked{% endif %}>
                  {{ race }}
                </label> <button type="button" class="btn btn-info btn-xs" data-toggle="collapse" data-target="#race-info-{{ race|replace(' ', '-') }}">?</button>
            </div>
            <div id="race-info-{{ race|replace(' ', '-') }}" class="collapse well">
                {{ races[race]['description'] }}
            </div>
            {% endfor %}
          </div>
          <button class="btn btn-default" type="submit">Submit</button>
        </form>
      </td>
    </tr>
    {% endif %}
    <tr>
      <td>Level:</td>
      <td id="level-value">{{ character['level'] }}</td>
    </tr>
    <tr>
      <td>Experience:</td>
      {% if editing_privileges %}
      <td><a href="#" class="btn btn-default" role="button" data-toggle="collapse" data-parent="#form-group" data-target="#xp-form" id="xp-value">{{ character['xp'] }}</a></td>
      {% else %}
      <td>{{ character['xp'] }}</td>
      {% endif %}
    </tr>
    {% if editing_privileges %}
    <tr id="xp-form" class="collapse">
      <td colspan="3">
        <form data-async data-target="#xp-errors" action="/api/{{ character['_id'] }}/xp/" method="POST" class="form-horizontal">
          <div id="xp-errors"></div>
          <div class="input-group">
            <input type="number" class="form-control" id="xp" name="xp" value="{{ character['xp'] }}" min="0">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                Submit
              </button>
            </div>
          </div>
        </form>
      </td>
    </tr>
    {% endif %}
    <tr>
      <td>Class:</td>
      <td>
        {% if editing_privileges %}
        <a href="#" class="btn btn-default btn-block" role="button" data-toggle="collapse" data-parent="#form-group" data-target="#class-form" id="class-value">
        {% endif %}
        <ul class="list-group">
          {% for class_ in classes if character[class_] > 0 %}
          <li class="list-group-item">
            {{ class_|capitalize }}
            <span class="label label-default">{{ character[class_] }}</span>
            <button type="button" class="btn btn-info btn-xs" data-toggle="collapse" data-parent="#class-group" data-target="#{{ class_ }}-info-dynamic">?</button>
          </li>
          {% endfor %}
        </ul>
        {% if editing_privileges %}</a>{% endif %}
      </td>
    </tr>
    {% for class_ in classes %}
    <tr id="{{ class_ }}-info-dynamic" class="collapse">
      <td colspan="3">
        <div class="well">
          {{ classes[class_]['description'] }}
        </div>
      </td>
    </tr>
    {% endfor %}
    {% if editing_privileges %}
    <tr id="class-form" class="collapse">
      <td colspan="3">
        <form data-async data-target="#class-errors" action="/api/{{ character['_id'] }}/class/" method="POST" class="form-horizontal">
          <div id="class-errors"></div>
          {% for level in range(1, character['level'] + 1) %}
          <div class="form-group">
            <label for="level-{{ level }}">{{ level }}</label>
            <select class="form-control" name="{{ level }}" id="level-{{ level }}">
              {% for class_ in classes %}
                <option value="{{ class_ }}" {% if character['classes'][level] == class_ %}selected{% endif %}>{{ class_|capitalize }}</option>
              {% endfor %}
            </select>
          </div>
          {% endfor %}
          <button class="btn btn-default" type="submit">Submit</button>
        </form>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
