<table class="table">
  <tbody>
    <tr>
      <td>Level:</td>
      <td id="level-value">{{ character['level'] }}</td>
    </tr>
    <tr>
      <td>Experience:</td>
      {% if editing_privileges %}
      <td><a href="#" class="btn btn-default" role="button" data-toggle="collapse" data-parent="#form-group" data-target="#xp-form" id="xp-value">{{ character['xp'] }}</a></td>
      {% else %}
      <td>{{ character['xp'] }}</td>
      {% endif %}
    </tr>
    {% if editing_privileges %}
    <tr id="xp-form" class="collapse">
      <td colspan="3">
        <form data-async data-target="#xp-errors" action="/api/{{ character['_id'] }}/xp/" method="POST" class="form-horizontal">
          <div id="xp-errors"></div>
          <div class="input-group">
            <input type="number" class="form-control" id="xp" name="xp" value="{{ character['xp'] }}" min="0">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                Submit
              </button>
            </div>
          </div>
        </form>
      </td>
    </tr>
    {% endif %}
    <tr>
      <td>Class:</td>
      <td>
        {% if editing_privileges %}
        <a href="#" class="btn btn-default btn-block" role="button" data-toggle="collapse" data-parent="#form-group" data-target="#class-form" id="class-value">
        {% endif %}
        <ul class="list-group">
          {% for class_ in classes if character[class_] > 0 %}
          <li class="list-group-item">{{ class_|capitalize }} <span class="label label-info">{{ character[class_] }}</span></li>
          {% endfor %}
        </ul>
        {% if editing_privileges %}</a>{% endif %}
      </td>
    </tr>
    {% if editing_privileges %}
    <tr id="class-form" class="collapse">
      <td colspan="3">
        <form data-async data-target="#class-errors" action="/api/{{ character['_id'] }}/class/" method="POST" class="form-horizontal">
          <div id="class-errors"></div>
          {% for class_ in classes %}
          <div class="form-group">
            <label for="{{ class_ }}">{{ class_|capitalize }}:</label>
            <input type="number" class="form-control" id="{{ class_ }}" name="{{ class_ }}" value="{{ character[class_] }}" min="0">
          </div>
          {% endfor %}
          <button class="btn btn-default" type="submit">Submit</button>
        </form>
      </td>
    </tr>
    {% endif %}
    <tr id="hp-row"
       {% if character['damage'] > 0 %}
       class="danger"
       {% elif character['temp_hp'] < 0 %}
       class="warning"
       {% elif character['temp_hp'] > 0 %}
       class="success"
       {% endif %}
    >
      <td>Hit points:</td>
      {% if editing_privileges %}
      <td><a href="#" class="btn btn-default" role="button" data-toggle="collapse" data-parent="#form-group" data-target="#hp-form" id="hp-value">{{ character['hp'] }}</a></td>
      {% else %}
      <td>{{ character['hp'] }}</td>
      {% endif %}
    </tr>
    {% if editing_privileges %}
    <tr id="hp-form" class="collapse">
      <td colspan="3">
        <form data-async data-target="#hp-errors" action="/api/{{ character['_id'] }}/hp/" method="POST" class="form-horizontal">
          <div id="hp-errors"></div>
          <div class="form-group">
            <label for="max-hp">
              <a href="#" data-toggle="tooltip" title="maximum hit points adjusted to your level">
                Max hp:
              </a>
            </label>
            <input type="number" class="form-control" id="max-hp" name="max-hp" value="{{ character['max_hp'] }}" min="1">
          </div>
          <div class="form-group">
            <label for="temp-hp">
              <a href="#" data-toggle="tooltip" title="temporary changes from spell effects">
                Temporary:
              </a>
            </label>
            <input type="number" class="form-control" id="temp-hp" name="temp-hp" value="{{ character['temp_hp'] }}">
          </div>
          <div class="form-group">
            <label for="damage">
              <a href="#" data-toggle="tooltip" title="current damage">
                Damage:
              </a>
            </label>
            <input type="number" class="form-control" id="damage" name="damage" value="{{ character['damage'] }}" min="0">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
