{% for item in character['inventory']|sort %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#inventory-accordion" href="#{{ item|replace(' ', '-')|replace('(', '-')|replace(')', '-') }}-collapse">
        <table style="width:100%">
          <tr>
            <td style="width:10%">
              {{ character['inventory'][item]['amount'] }}
            </td>
            <td style="width:60%">{{ item }}</td>
            <td style="width:30%">{{ character['inventory'][item]['extra'] }}</td>
          </tr>
        </table>
      </a>
    </h4>
  </div>
  <div id="{{ item|replace(' ', '-')|replace('(', '-')|replace(')', '-') }}-collapse" class="panel-collapse collapse">
    <div class="panel-body">
      </table>
      {{ character['inventory'][item]['description'] }}
    </div>
  </div>
</div>
{% endfor %}

