<form data-async data-target="#prepared-prayers-errors" action="/api/{{ character['_id'] }}/prepare_prayer/rest/" method="POST" class="form-inline">
  <div class="pull-right">
    <button class="btn btn-success btn-xs" type="submit">Rest</button>
  </div>
</form>
<h5>Prepared</h5>
<div id="prepared-prayers-errors"></div>
<div class="well" id="prepared-prayers">
  {% include "character_prepared_prayers.html" %}
</div>

Spell slots: <span id='prayer-slots'>{% include 'character_prayer_slots.html' %}</span>

{% for circle in range(1, 8)|reverse %}
{% for prayer in character['prayers']|sort if character['prayers'][prayer]['circle'] == circle %}
<div class="panel panel-default">
  <div class="panel-heading">
    <form data-async data-target="#prepared-prayers-errors" action="/api/{{ character['_id'] }}/prepare_prayer/prepare/" method="POST" class="form-inline">
      <input type="hidden" name="name" value="{{ prayer }}">
      <div class="pull-right">
        <button class="btn btn-success btn-xs" type="submit">Prepare</button>
      </div>
    </form>
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#prayer-accordion" href="#{{ prayer|replace(' ', '-') }}-collapse">{{ prayer|capitalize }}</a> <span class="label label-default">{{ prayers[prayer].circle|to_roman }}</span>
    </h4>

  </div>
  <div id="{{ prayer|replace(' ', '-') }}-collapse" class="panel-collapse collapse">
    <div class="panel-body">
      <table class="table">
        <tr>
          <td>Circle:</td>
          <td>
            {{ character['prayers'][prayer]['circle']|to_roman }}
          </td>
        </tr>
        <tr>
          <td>Sphere:</td>
          <td>
            {{ character['prayers'][prayer]['sphere'] }}
          </td>
        </tr>
        <tr>
          <td>Range:</td>
          <td>
            {{ character['prayers'][prayer]['range'] }}
          </td>
        </tr>
        <tr>
          <td>Area:</td>
          <td>
            {{ character['prayers'][prayer]['area'] }}
          </td>
        </tr>
        <tr>
          <td>Casting time:</td>
          <td>
            {{ character['prayers'][prayer]['casting_time'] }}
          </td>
        </tr>
        <tr>
          <td>Components:</td>
          <td>
            {{ character['prayers'][prayer]['components'] }}
          </td>
        </tr>
        <tr>
          <td>Duration:</td>
          <td>
            {{ character['prayers'][prayer]['duration'] }}
          </td>
        </tr>
        {% if character['prayers'][prayer]['mechanics'] is not none %}
        <tr>
          <td>Mechanics:</td>
          <td>
            {{ character['prayers'][prayer]['mechanics'] }}
          </td>
        </tr>
        {% endif %}
      </table>
      {{ character['prayers'][prayer]['description'] }}
    </div>
  </div>
</div>
{% endfor %}
<hr />
{% endfor %}
