{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

{% for message in successes %}
<div class="alert alert-success alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ message }}
</div>
{% endfor %}

{% for message in errors %}
<div class="alert alert-danger alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ message }}
</div>
{% endfor %}

<h1>Characters<button type="button" class="btn btn-info btn-lg" data-toggle="collapse" data-target="#new-character-form">Add</button></h1>
<!-- Modal -->
<div id="new-character-form" class="collapse">
  <div id="character-errors"></div>
  <form data-async data-target="#character-errors" action="/api/new-character/" method="POST" class="form-inline">
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">
        Name:
      </label>
      <div class="col-sm-10">
        <input type="input" class="form-control" id="character-name" name="name" placeholder="Character name">
      </div>
    </div>
    <button type="submit" class="btn btn-default">Create</button>
  </form>
</div>

<table class="table" id="character-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>DateCreated</th>
            <th>CurrentCampain</th>
        </tr>
    </thead>
    {% for character in characters %}
    <tr>
        <td><a href="/{{ character['_id'] }}/{{ character.name }}/" class="btn btn-default" role="button">{{ character.name }}</a></td>
        <td>{{ character.created_at.date() }}</td>
        <td>{{ character.current_campaign_name }}</td>
    </tr>
    {% endfor %}
</table>
<h1>Campaigns</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>DateCreated</th>
            <th>NumberOfPlayers</th>
        </tr>
    </thead>
    {% for campaign in campaigns %}
    <tr>
        <td>{{ campaign.name }}</td>
        <td>{{ campaign.created_at.date() }}</td>
        <td>{{ campaign.number_of_players }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
